body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-anonymous-pro: "Anonymous Pro";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-lightgray: #c3d0d7;
  --color-whitesmoke-200: #efefef;
  --color-whitesmoke-100: #eaebef;
  --color-gray-100: #3e2222;
  --color-gray-200: rgba(255, 255, 255, 0.5);
  --color-gray-300: rgba(0, 0, 0, 0);
  --color-gray-400: rgba(53, 40, 40, 0.8);
  --color-gainsboro: rgba(217, 217, 217, 0);
  --color-black: #000;
  --color-darkslategray-100: #2f4050;
  --color-darkslategray-200: #423131;
  --color-darkslategray-300: #293846;
  --color-darkslategray-400: #263949;
  --color-white: #fff;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-14xl: 33px;
  --br-10xs: 3px;
}
