.image-24-icon {
  position: absolute;
  top: 62px;
  left: 22px;
  width: 840px;
  height: 654px;
  object-fit: cover;
}
.ng-nhp-child {
  position: absolute;
  top: 196px;
  left: 1006px;
  border-radius: var(--br-14xl);
  background-color: var(--color-whitesmoke-100);
  width: 431px;
  height: 391px;
}
.ng-nhp1 {
  position: absolute;
  top: 247px;
  left: 1095px;
  font-size: 40px;
  display: inline-block;
  color: var(--color-darkslategray-200);
  width: 256px;
  height: 75px;
}
.ng-nhp-item {
  position: absolute;
  top: 321px;
  left: 1046px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 354px;
  height: 47px;
}
.ng-nhp-inner {
  position: absolute;
  top: 306px;
  left: 1073px;
  background-color: var(--color-whitesmoke-100);
  width: 126px;
  height: 45px;
}
.email-address {
  position: absolute;
  top: 311px;
  left: 1083px;
  font-weight: 600;
  display: inline-block;
  width: 175px;
  height: 40px;
}
.rectangle-div {
  position: absolute;
  top: 406px;
  left: 1046px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 354px;
  height: 47px;
}
.ng-nhp-child1 {
  position: absolute;
  top: 383px;
  left: 1073px;
  background-color: var(--color-whitesmoke-100);
  width: 96px;
  height: 44px;
}
.password {
  position: absolute;
  top: 396px;
  left: 1083px;
  font-weight: 600;
  display: inline-block;
  width: 175px;
  height: 40px;
}
.image-25-icon {
  position: absolute;
  top: 417px;
  left: 1359px;
  width: 33px;
  height: 24px;
  object-fit: cover;
}
.group-child {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 354px;
  height: 40px;
}
.ng-nhp2 {
  position: absolute;
  top: 8px;
  left: 122px;
  font-weight: 600;
  display: inline-block;
  width: 108px;
  height: 30px;
}
.rectangle-parent {
  position: absolute;
  top: 498px;
  left: 1047px;
  width: 352px;
  height: 38px;
  color: var(--color-whitesmoke-200);
}
.ng-nhp {
  position: relative;
  background-color: var(--color-lightgray);
  width: 100%;
  height: 740px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
